* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

:root {
    --width100: 100%;
    --MaxWidth: 1280px
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

.container {
    width: var(--width100);
    max-width: var(--MaxWidth);
    margin: 0 auto;
}

.clear {
    clear: both;
}

header {
    padding: 30px 2% 30px 2%;
    height: 130px;
}

header nav.desktop {
    float: right;
    position: relative;
    top: 40px;
}

header nav.desktop ul {
    list-style-type: none;
    font-style: italic;
}

header nav.desktop ul li {
    float: left;
    padding: 0 10px;
    position: relative;
}

header nav.desktop li a {
    color: black;
    text-decoration: none;
    font-size: 23px;
    transition: all 0.3s ease;
}

header nav.desktop ul li::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    left: 50%;
    width: 0;
    height: 4px;
    margin: -2px 0;
    border-radius: 2px;
}

header nav.desktop ul li:hover::after {
    left: 0;
    margin-top: 40px;
    width: 100%;
    background-color: #eb2d2d;
}

header nav.desktop li a:hover {
    color: #eb2d2d;
}

nav.mobile {
    margin-top: 40px;
    float: right;
    width: 32px;
    height: 32px;
    background-image: url(../imagens/icon_menu.png);
    background-size: 100% 100%;
    display: none;
    cursor: pointer;
    margin-right: 20px;
}

nav.mobile ul {
    width: var(--width100);
    position: absolute;
    display: none;
    background-color: white;
    text-align: center;
    left: 0;
    top: 115px;
    z-index: 999;
    border-bottom: 3px solid #eb2d2d;
}

nav.mobile li {
    font-style: italic;
    padding: 10px 0;
}

nav.mobile li a {
    text-decoration: none;
    color: black;

}

.logo {
    float: left;
}

section.banner {
    width: var(--width100);
    height: 600px;
    background-color: black;
    background-image: url(../imagens/bg.jpg);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.text-banner {
    padding: 100px;
}

.text-banner-single {
    color: white;
    font-style: italic;
    text-transform: uppercase;
    font-size: 38px;
    margin-top: 20px;
    padding: 3px 30px;
    width: 260px;
    height: 60px;
    background-image: url(../imagens/box-text.png);
    background-size: 100% 100%;
}

.text-banner .text-banner-single:nth-of-type(2) {
    width: 200px;
    position: relative;
    left: -10px;
}

.text-banner .text-banner-single:nth-of-type(3) {
    width: 170px;
    position: relative;
    left: -20px;
}

.text-banner .text-banner-single:nth-of-type(4) {
    width: 280px;
    height: 63px;
    color: black;
    background-image: url(../imagens/box-white-text.png);
    position: relative;
    left: -30px;
}


.veiculos-em-destaque {
    padding: 40px 0;
}

.veiculos-em-destaque .container {
    max-width: 1000px;
    padding: 40px 0;
}

.veiculos-em-destaque>h2 {
    text-align: center;
    font-weight: normal;
    font-style: italic;
    font-size: 24px;
    text-transform: uppercase;
}

.veiculos-em-destaque>h2::before {
    content: " ";
    display: inline-block;
    position: relative;
    background-color: black;
    border-radius: 2px;
    top: -5px;
    right: 20px;
    width: 15%;
    height: 3px;
}

.veiculos-em-destaque>h2::after {
    content: " ";
    display: inline-block;
    position: relative;
    background-color: black;
    top: -5px;
    left: 20px;
    width: 15%;
    border-radius: 2px;
    height: 3px;
}

.vitrine-destaque {
    float: left;
    width: 33.3%;
}

.info-carro {
    padding: 10px 2%;
}

.vitrine-destaque .carro-img {
    width: var(--width100);
    padding-top: 100%;
    background-size: 100% 100%;
    border: 5px solid white;
}

.vitrine-destaque h2 {
    color: #000;
    font-style: italic;
    font-size: 20px;
    padding-left: 8px;
}

.vitrine-destaque p {
    font-style: italic;
    margin-top: 5px;
    padding-left: 8px;
    font-size: 15px;
    color: #353535;
}

.btn1 {
    text-align: center;
    display: block;
    line-height: 50px;
    background-color: #eb2d2d;
    border-bottom: 3px solid #b21e13;
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: white;
    font-style: italic;
    text-decoration: none;

}

.vitrine-destaque a {
    margin-left: 8px;
    margin-top: 10px;



}

.servicos-descricao {
    display: flex;
}

.half1 {
    width: 50%;
    padding: 90px 0;
    background-color: #242424;
    color: white;
    text-align: right;
}

.half1-wrapper {
    display: inline-block;
    text-align: left;
    padding-right: 100px;
}

.half1-wrapper h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 34px;
}

.half1-wrapper ul {
    margin-top: 20px;
    display: inline-block;
}

.half1-wrapper li {
    margin-left: 15px;
}

.half1-wrapper a {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 60px;
}

.half2 {
    width: 50%;
    padding: 90px 100px;
    background-color: #eb2d2d;
    color: white;
}

.half2 h2 {
    color: white;
    font-style: italic;
    font-size: 32px;
}

.half2 .half2-wrapper {
    margin-top: 19px;
}

.half2-wrapper p {
    font-size: 20px;
}

.navigation {
    margin-top: 30px;
    width: var(--width100);
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

.arrows {
    float: left;
}

.navigation img {
    margin: 0 15px;
    cursor: pointer;
}

.nome {
    float: left;
    color: #252525;
    font-size: 20px;
}














@media screen and (max-width:1024px) {
    section.banner {
        background-position: center;
        background-size: cover;
        height: 70vh;
        min-height: 500px;

    }
}

@media screen and (max-width:885px) {
    .half1-wrapper a {
        display: block;
        margin-left: 0;
        margin-top: 15px;
    }

}

@media screen and (max-width:768px) {

    nav.mobile {
        display: block;
    }

    nav.desktop {
        display: none;
    }

    .servicos-descricao {
        flex-direction: column;
    }

    .half1 {
        width: var(--width100);
        text-align: center;
        padding: 90px 2%;
    }

    .half1-wrapper {
        padding-right: 0;
        padding: 90px 4%;
    }

    .half2 {
        width: var(--width100);
        padding: 90px 4%;

    }

}






@media screen and (max-width:580px) {
    .text-banner {
        padding: 30px;
    }

    .text-banner-single {
        font-size: 28px;
        padding: 8px 30px;
    }

    .veiculos-em-destaque .container {
        text-align: center;
    }

    .vitrine-destaque {
        width: 70%;
        float: none;
        display: inline-block;
        margin-top: 20px;
    }

    .vitrine-destaque a {
        display: inline-block;
    }

}

@media screen and (max-width:480px) {
    .vitrine-destaque {
        width: 90%;
    }

}